import(methods)
import(ggplot2)
import(grid)
exportMethods(
    "[",
    "[<-",
    "show",
    # "summary",
    "plot",
    "reset",
    "print",
    "getEnrichSNP",

    "enrichSNP",
    "is.EnrichSNP",
    "chromosome",
    "is.chromosome",
    "enrichment",
    "is.enrichment",

    "reSample",
    "excludeSNP",
    "compareEnrichment"
)
exportClasses(
    "EnrichSNP",
    "Chromosome",
    "Enrichment"
)
export(
    "initFiles",
    "writeLD",
    "readEnrichment",
    "GC",
    "mclapply2"
)

importFrom("parallel", "mclapply", "detectCores")
importFrom("snpStats", "read.plink", "col.summary", "ld")
importFrom("grDevices", "hcl", "rainbow")
importFrom("graphics", "lines", "par")
importFrom("stats", "median", "na.exclude", "pnorm", "reshape", "var")
importFrom("utils", "capture.output", "installed.packages", "read.delim", "read.table", "write.table")